@if (armorCheck && !weaponCheck){
<legend>
  <!-- <p>{{armor.name}}</p>
  <img src={{armor.assets.imageMale}}/>
  <p>{{armor.type}}</p> -->
  <app-armor-card [armor]="armor"></app-armor-card>
  <button (click)="deleteAcquired()">Remove</button>
  <!-- @for(material of armor.crafting.materials; track $index){
      <p>{{material.item.name}} x{{material.quantity}} - ({{material.item.description}})</p>-->
</legend>
}

@if(!armorCheck && weaponCheck){
<legend>
  <app-weapon-card [weapon]="weapon"></app-weapon-card>
  <button (click)="deleteAcquired()">Remove</button>
  <!-- <p>{{weapon.name}}</p>
  <img src={{weapon.assets.image}}/>
  <p>{{weapon.type}}</p> -->
  <!-- @if(weapon.crafting.craftable){
    @for(material of weapon.crafting.craftingMaterials; track $index){
      <p>{{material.item.name}} x{{material.quantity}} - ({{material.item.description}})</p>
    }
  }
  @if(!weapon.crafting.craftable){
    @for(material of weapon.crafting.upgradeMaterials; track $index){
      <p>{{material.item.name}} x{{material.quantity}} - ({{material.item.description}})</p>
    }

}-->

</legend>
}



