<div>
  @if (!adquiridosArmor.length && !adquiridosWeapon.length){
    <p>Su lista de adquiridos está vacía</p>
  }
</div>
<div>
  @if (adquiridosArmor.length){
    <h3>Armor</h3>
    @for (armor of adquiridosArmor; track $index){
      <app-lista-adquiridos-card (deleteAcquiredEvent)="deleteAcquired($event)" [armor]="armor" [armorCheck]="true" [weaponCheck]="false"></app-lista-adquiridos-card>
    }
  }
</div>
<div>
  @if (adquiridosWeapon.length){
    <h3>Weapon</h3>
    @for (weapon of adquiridosWeapon; track $index){
      <app-lista-adquiridos-card (deleteAcquiredEvent)="deleteAcquired($event)" [weapon]="weapon" [armorCheck]="false" [weaponCheck]="true"></app-lista-adquiridos-card>
    }
  }
</div>
