<legend *ngIf="armorCheck && !weaponCheck">
  <div style="display: flex; flex-direction: row; align-items: center;">
    <app-armor-card [armor]="armor" ></app-armor-card>
    <div style="display: flex; flex-direction: column;padding-left: 2rem;">
    @for(material of armor.crafting.materials; track $index){
      <div class="material">
        <input (change)="updateMaterialUser()" [(ngModel)]="userPending.materiales[$index].acquired" type="checkbox" name={{material.item.name}}/>
        <p mat-raised-button
        matTooltip={{material.item.description}}
        matTooltipClass="example-tooltip-uppercase"
        aria-label="Button that shows a red tooltip">{{material.item.name}} x{{material.quantity}}</p>
      </div>
    }
    </div>
  </div>
  <button (click)="deletePending()">Remove</button>
</legend>

<legend *ngIf="!armorCheck && weaponCheck">
  <div style="display: flex; flex-direction: row; align-items: center;">
    <app-weapon-card [weapon]="weapon" ></app-weapon-card>
    <div style="display: flex; flex-direction: column;padding-left: 2rem;">

    @if(weapon.crafting.craftable){
      
      @for(material of weapon.crafting.craftingMaterials; track $index){
        <div class="material">
        <p mat-raised-button
        matTooltip={{material.item.description}}
        matTooltipClass="example-tooltip-uppercase"
        aria-label="Button that shows a red tooltip">{{material.item.name}} x{{material.quantity}}</p>
      </div>
    }
    
   }

   @if(!weapon.crafting.craftable){
      <div style="display: flex; flex-direction: column; padding-left: 2rem;"></div>
      @for(material of weapon.crafting.upgradeMaterials; track $index){
        <div class="material">
          <input (change)="updateMaterialUser()" [(ngModel)]="userPending.materiales[$index].acquired" type="checkbox" name={{material.item.name}}/>
          <p mat-raised-button
          matTooltip={{material.item.description}}
          matTooltipClass="example-tooltip-uppercase"
          aria-label="Button that shows a red tooltip">{{material.item.name}} x{{material.quantity}}</p>
        
        </div>
      }
    }
    </div>
  </div>
  <button (click)="deletePending()">Remove</button>
  
</legend>

