input{
    min-width: 5%;
    min-height: 2rem;
    background-color: gray;
    border-radius: 0.3rem;
    color: white;
    width: fit-content;

}

input:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.divUserButtons{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

@media only screen and (max-width:1000px) {
    /* For tablets: */

    .divUserButtons{
        justify-content: center;
    }

  }
  @media only screen and (max-width:600px) {
    /* For mobile phones: */
    .divUserButtons{
        width: 100%;
        justify-content: center;
    }
  }