.itemContainer{
    
    width: 75%;
    margin: none;
    display: flex;
    flex-direction: column;
}

.itemType{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    width: 100%;
}

.itemType > p{
    display: flex;
    vertical-align: middle;
    color: gray;
    padding-top: 1rem;
    justify-content: end;
}

p{
    margin: 0%;
}

h3{
    margin-bottom: 1rem;
}
