<div id="weaponList">
  <div>
    <h2>Weapons</h2>
  </div>
  <div class="divFiltro">
    <button (click)="toggleFilterType('sword-and-shield')"><img class="image" scr="https://assets.mhw-db.com/weapons/sword-and-shield/icons/bba6138275380056204165eb9ed5d9cb.2e880e7ffa9e558cef1365b0d2e492a092f399a8.png"/>Sword and Shield</button>
    <button (click)="toggleFilterType('great-sword')">Greatsword</button>
    <button (click)="toggleFilterType('dual-blades')">Dual Blades</button>
    <button (click)="toggleFilterType('long-sword')">Longsword</button>
    <button (click)="toggleFilterType('hammer')">Hammer</button>
    <button (click)="toggleFilterType('hunting-horn')">Hunting Horn</button>
    <button (click)="toggleFilterType('lance')">Lance</button>
    <button (click)="toggleFilterType('gunlance')">Gunlance</button>
    <button (click)="toggleFilterType('switch-axe')">Switch Axe</button>
    <button (click)="toggleFilterType('charge-blade')">Charge Blade</button>
    <button (click)="toggleFilterType('insect-glaive')">Insect Glaive</button>
    <button (click)="toggleFilterType('bow')">Bow</button>
    <button (click)="toggleFilterType('light-bowgun')">Light Bowgun</button>
    <button (click)="toggleFilterType('heavy-bowgun')">Heavy Bowgun</button>
  </div>
  <div class="divFiltro">
    <button (click)="toggleFilterElement('fire')">Fire</button>
    <button (click)="toggleFilterElement('water')">Water</button>
    <button (click)="toggleFilterElement('thunder')">Thunder</button>
    <button (click)="toggleFilterElement('ice')">Ice</button>
    <button (click)="toggleFilterElement('dragon')">Dragon</button>

    <button (click)="toggleFilterElement('poison')">Poison</button>
    <!-- <button (click)="toggleFilterElement('stun')">Stun</button> -->
    <button (click)="toggleFilterElement('paralysis')">Paralysis</button>
    <button (click)="toggleFilterElement('sleep')">Sleep</button>
    <!-- <button (click)="toggleFilterElement('blastblight')">Blastblight</button> -->
    <!-- <button (click)="toggleFilterElement('bleeding ')">Bleeding</button> -->


  </div>
  <div *ngIf="!cargando; else cargandoP">
      <p>Found: {{filterweapons.length}}</p>
      <ul>
        @for (weapon of filterweapons; track $index){
        <app-weapon-card class="weaponCard" (addWantedEvent)="addPending($event)" (addAcquiredEvent)="addAcquired($event)" [logged]="logged" [weapon]="weapon" [showImage]="showImage"></app-weapon-card>
        }
      </ul>
  </div>

</div>

<ng-template #cargandoP>
  <p style="margin-left: 4rem;">Cargando...</p>
</ng-template>