.weaponContainer{

    text-align: start;
    width: auto;
    margin: none;
    display: flex;
    flex-direction: row;

}

.boxTitle{
    display: flex; 
    flex-direction: row; 
    margin: 0%; 
    vertical-align: middle;
}

.iconImage{
    margin-top: 1rem;
    float: left;
    max-width: 2rem;
    height: 2rem;
}

.weaponImage{
    max-width: 10rem;
    height: auto;
}

legend{
    width: auto;
}

.material{
    display: flex;
    flex-direction: row;
    /* border: 0.2rem solid white; */
}

legend > button{
    width: 50%;
    padding: 0%;
    margin: 0%;
    margin-left: 25%;
    margin-top: 0.5rem;
    border-radius: 1.5rem;
    border-color: red;
    color: red;
    background-color: rgb(70, 25, 25);
    
}

legend > button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

legend > input{
    width: 50%;
    padding: 0%;
    margin: 0%;
    margin-left: 25%;
    margin-top: 0.5rem;
    border-radius: 1.5rem;
    border-color: greenyellow;
    color: greenyellow;
    background-color: rgb(7, 58, 15);
    
}

legend > input:hover{
    cursor: pointer;
    transform: scale(1.1);
}