<!-- <h3>{{armor.name}}</h3>
<p>Rareza: {{armor.rarity}}</p>
<p (click)="routeDetalles(armor.armorSet.id)" style="color: blue;">Detalles del set</p>
@for (skill of armor.skills; track $index){
  <p>{{skill.skillName}}</p>
  <p>{{skill.description}}</p>
}
<div *ngIf="logged">
  <input type="button" value="Acquired" (click)="addAcquired()">
  <input type="button" value="Pending" (click)="addPending()">
</div> -->

<div class="armorContainer">
  <div>
   
  </div>
  <div class="boxContent">
   <div class="boxTitle" >
     <h3 *ngIf="armor.name">{{armor.name}}</h3>
   </div>
   <div style="display: flex; flex-direction: row;">
    <img *ngIf="armor.assets && armor.assets.imageMale" class="armorImage" src={{armor.assets.imageMale}}/>
    <img *ngIf="armor.assets && armor.assets.imageMale" class="armorImage" src={{armor.assets.imageFemale}}/>
   </div>
   <p>Defense: {{armor.defense.base}}</p>
   <p *ngIf="armor.resistances">Resistances:</p>
   <div  *ngIf="armor.resistances" class="boxResistances">
     <p matTooltip="Dragon" style="background-color: purple;">{{armor.resistances.dragon}}</p>
     <p matTooltip="Fire" style="background-color: orangered;">{{armor.resistances.fire}}</p>
     <p matTooltip="Ice" style="background-color: rgb(40, 199, 199);">{{armor.resistances.ice}}</p>
     <p matTooltip="Thunder" style="background-color: yellow;">{{armor.resistances.thunder}}</p>
     <p matTooltip="Water" style="background-color: blue;">{{armor.resistances.water}}</p>
   </div>
   @for (skill of armor.skills; track $index){
    <p
    matTooltip="{{skill.description}}">{{skill.skillName}} {{skill.level}}</p>
    <!-- <p>{{skill.description}}</p> -->
  }
  <p class="seeDetails" (click)="routeDetalles(armor.armorSet.id)">See details</p>
  <div class="divPending" *ngIf="logged">
     <input type="button" value="+ Acquired" (click)="addAcquired()">
     <input type="button" value="+ Pending" (click)="addPending()">
   </div>
  </div>
   
 </div>
