<div id="wishlistList">
  <div>
    @if (!pendientesArmor.length && !pendientesWeapon.length){
      <p>Wishlist empty:D</p>
    }
  </div>
  <div>
    @if (pendientesArmor.length){
      <h3>Armor</h3>
      <ul>
        @for (armor of pendientesArmor; track $index){
          <app-lista-pendientes-card (addToAcquired)="addToAcquired($event)"  (updateMaterial)="updateMaterial($event)" class="wishlistCard" [userPending]="userPending[findIndexItem(armor.id,'armor')]"  (deleteWantedEvent)="deletePending($event)" [armor]="armor" [armorCheck]="true" [weaponCheck]="false" [materialesNecesarios]="getMaterialesItem(armor.id,'armor')"></app-lista-pendientes-card>
        }
    </ul>
    }
  </div>
  <div>
    @if (pendientesWeapon.length){
      <h3>Weapon</h3>
      <ul>
        @for (weapon of pendientesWeapon; track $index){
          <app-lista-pendientes-card (addToAcquired)="addToAcquired($event)" (updateMaterial)="updateMaterial($event)"  class="wishlistCard" [userPending]="userPending[findIndexItem(weapon.id,'weapon')]" (deleteWantedEvent)="deletePending($event)" [weapon]="weapon" [armorCheck]="false" [weaponCheck]="true" [materialesNecesarios]="getMaterialesItem(weapon.id,'weapon')"></app-lista-pendientes-card>
        }
      </ul>
    }
  </div>
</div>
