<div>
  @if (!pendientesArmor.length && !pendientesWeapon.length){
    <p>Su lista de pendientes está vacía :D</p>
  }
</div>
<div>
  @if (pendientesArmor.length){
    <h3>Armor</h3>
    @for (armor of pendientesArmor; track $index){
      <app-lista-pendientes-card [armor]="armor"></app-lista-pendientes-card>
    }
  }
</div>
<div>
  @if (pendientesWeapon.length){
    <h3>Weapon</h3>
    @for (weapon of pendientesWeapon; track $index){
      <app-lista-pendientes-card [weapon]="weapon"></app-lista-pendientes-card>
    }
  }
</div>
