<div *ngIf="loading;else monsterDetails">
    <p>Loading...</p>
</div>

<ng-template #monsterDetails>
   <div *ngIf="monster.name.length" style="justify-content: center;display: flex;flex-direction: column; background-color:rgba(85, 84, 84, 0.705); padding: 3rem; padding-top: 0;" id="monsterPage">
        <div style="display: flex; flex-direction: row; justify-content: center;vertical-align: middle; padding-left: 3rem;">
            <h1>{{monster.name}}</h1>
            <p style="padding-top: 1rem;padding-left: 2rem;">{{monster.type}} monster</p>
        </div>

        <p>{{monster.description}}</p>
        <div style="display: flex;flex-direction: row;">
            <div >
                <div style="border: 0.1rem black solid;padding: 1rem;">
                    <label>Species</label>
                    <p style="padding-left: 3rem;">{{monster.species[0].toUpperCase() + monster.species.slice(1)}}</p>
                </div>
                <div style="border: 0.1rem black solid;padding: 1rem; border-top: 0;">
                    <label>Locations</label>
                    <p style="padding-left: 3rem;" *ngFor="let item of monster.locations">{{item.name}}</p>
                </div>
                <div style="border: 0.1rem black solid;padding: 1rem; border-top: 0;" *ngIf="monster.elements.length">
                    <label>Elements</label>
                    <p *ngFor="let item of monster.elements" >{{item}}</p>
                </div>
                <div  style="border: 0.1rem black solid;padding: 1rem; border-top: 0;" *ngIf="monster.ailments.length">
                    <label>Ailments</label>
                    <p matTooltip={{item.description}} style="padding-left: 3rem;" *ngFor="let item of monster.ailments">{{item.name}}</p>
                </div>
                <div  style="border: 0.1rem black solid;padding: 1rem; border-top: 0;" *ngIf="monster.resistances.length">
                    <label>Resistances</label>
                    <p style="padding-left: 3rem;"  *ngFor="let item of monster.resistances">{{item.element[0].toUpperCase() + item.element.slice(1)}} {{item.condition}}</p>
                </div>
            </div>
            <div style="padding-left: 3rem;">
            <div style="display: flex; flex-direction: row;">
                <div style="border: 0.1rem black solid;padding: 1rem; height: fit-content;" *ngIf="monster.weaknesses.length">
                    <label>Weaknesses</label>
                    <p style="padding-left: 3rem;"  *ngFor="let item of monster.weaknesses">{{item.element[0].toUpperCase() + item.element.slice(1)}} {{item.condition}} ✰{{item.stars}}</p>
                </div>
                @if(monster.type == 'large'){
                <img style="max-width: 75%; height: fit-content; margin-left: 2rem;" class="image" src="https://monsterhunterworld.wiki.fextralife.com/file/Monster-Hunter-World/mhw-{{monster.name.toLowerCase().replaceAll(' ','_')}}_render_001.png" />
                }
            </div>
                <div style="border: 0.1rem black solid;padding: 1rem; border-top: 0;"*ngIf="monster.rewards.length">
                    <label>Rewards</label>
                    <p style="padding-left: 3rem;" *ngFor="let item of monster.rewards">{{item.item.name}}</p>
                </div>
            </div>
            
        </div>

        @if (monster.type == 'large'){
            <div class="advice"  *ngIf="monster.ailments.length">
            <h3 *ngIf="monster.type == 'large'" style="padding-left: 1rem; margin-top: 1rem;"> Advice: </h3>
        @for (ailgment of monster.ailments; track $index){
            <p style="padding-left: 3rem;">Watch out! This monster inflicts {{ailgment.name}}.</p>
            @if (ailgment.recovery.items.length) {
            <p style="padding-left: 4rem;">Try using the following items to cure it!</p>
            @for (item of ailgment.recovery.items; track $index){
                <p style="padding-left: 5rem;">-> {{item.name}}</p>
            }
            @if (ailgment.recovery.actions.length){
                <p style="padding-left: 4rem;">You can also cure it by:</p>
                @for (action of ailgment.recovery.actions; track $index){
                <p style="padding-left: 5rem;">-> {{action}}</p>
                }
            }
            }
            @if (!ailgment.recovery.items.length){
            @if (ailgment.recovery.actions.length){
                <p style="padding-left: 4rem;">You can cure it by:</p>
                @for (action of ailgment.recovery.actions; track $index){
                <p style="padding-left: 5rem;">-> {{action}}</p>
                }
            }
            }
            @if (!ailgment.recovery.items.length){
            @if (!ailgment.recovery.actions.length){
                @if (ailgment.protection.skills.length){
                <p style="padding-left: 4rem;">You can mitigate it's effects with the skill:</p>
                @for (skll of ailgment.protection.skills; track $index){
                    <p style="padding-left: 5rem;">-> {{skll.name}}</p>
                }
                }
            }
            }
        }
        </div>
    }

    </div>
</ng-template>
