.monsterContainer{
    width: 75%;
    margin: none;
    display: flex;
    flex-direction: column;
}

.monsterType{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    width: 100%;
}

.monsterType > p{
    display: flex;
    vertical-align: middle;
    color: gray;
    padding-top: 1rem;
    justify-content: end;
}

p{
    margin: 0%;
}

h3{
    margin-bottom: 1rem;
}

.seeDetails{
    width: fit-content;
    padding-top: 0.5rem;
    color: #99efca;
}

.seeDetails:hover{
    cursor: pointer;
    transform: scale(1.2);
}