header{
    position: sticky;
    z-index: 1;
    background-color: rgb(37, 41, 41);
    width: 100%;
    color: rgba(202, 223, 223, 0.637);
    /*color: #414a66;*/
    top: 0;
    border-width: 0rem;
    border-bottom: 0.25rem;
    border-style:solid;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.arriba2{
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 0%;
    padding-top: 1%;
}

#arriba{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pageBC{
    background-color: rgba(128, 121, 121, 0.6);
}

#navCategorias{
    font-size: larger;
    display: flex;
    justify-content: center;
    width: 50%;
}

#navCategorias > a{
    color: aliceblue;
    /* background-color: rgba(53, 48, 47, 0.5); */
    text-decoration: none;
    padding: 1rem;
    width: 15rem;
    text-align: center;
    vertical-align:middle;
    border-color: white;
    border-width: 0.10rem;
    border-style:solid;
    border-top: 0;
    border-bottom: 0;
    /* border-radius: 1.5rem; */
}

#navCategorias > a:hover{
    cursor: pointer;
    border-bottom: 0.15rem;
    transform: scale(1.1);
    font-size: xx-large;
    color: black;
    background-color: rgb(196, 182, 182);
}
