<header>
  <div id="arriba" class="topnav">
    <h2 id="title" routerLink="/">{{title}}</h2>
    <nav class="topnav" id="navCategorias">
      <a class="navButton" name="Items" routerLink="/Items">
        Items
      </a>
      <a class="navButton" name="Monsters" routerLink="/Monsters">
        Monsters
      </a>
      <a class="navButton" name="Armors" routerLink="/Armors">
        Armors
      </a>
      <a class="navButton" name="Weapons" routerLink="/Weapons">
        Weapons
      </a>
      
    </nav>
    <app-nav-user id="navUser"></app-nav-user>
    <a style="max-width: 40px; max-height: 40px;" href="javascript:void(0);" class="icon" (click)="navChange()">
      <img style="max-width: 75%; height: fit-content;" src="fa-bars.png"/>
    </a>
  </div>

</header>

<div class="pageBC">
  <router-outlet />
</div>

<button class="go-to-top" *ngIf="showTopButton" (click)="scrollToTop()">
  <span class="material-symbols-outlined">
    arrow_upward
    </span>
</button>

<button class="go-to-bottom" *ngIf="showBottomButton" (click)="scrollToBottom()">
  <span class="material-symbols-outlined">
    arrow_downward
    </span>
</button>


