.weaponContainer{
    justify-content: center;
    width: 75%;
    margin: none;
    display: flex;
    flex-direction: row;


}

.boxDurability{
    display: flex;
    flex-direction: row;
}

.boxDurability > p{
    margin-right: 0.1rem;
    width: 2rem;
    text-align: center;
}

p{
    margin: 0%;
}

.boxContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxTitle{
    display: flex; 
    flex-direction: row; 
    margin: 0%; 
    vertical-align: middle;
}

.iconImage{
    margin-top: 1rem;
    float: left;
    max-width: 2rem;
    height: 2rem;
}

.weaponImage{
    max-width: 10rem;
    height: auto;
}

h3{
    margin-bottom: 1rem;
}