<div id="armorList">
  <h2>Armors</h2>

  <div class="divFiltro">
    <button class="filterButton" name='head' (click)="toggleFilterType('head')">Head</button>
    <button class="filterButton" name='chest' (click)="toggleFilterType('chest')">Chest</button>
    <button class="filterButton" name='gloves' (click)="toggleFilterType('gloves')">Gloves</button>
    <button class="filterButton" name='waist' (click)="toggleFilterType('waist')">Waist</button>
    <button class="filterButton" name='legs' (click)="toggleFilterType('legs')">Legs</button>
  </div>

  <div>
    <p id="found">Found: {{armadurasFiltradas.length}}</p>
    <ul>
      @for (armor of armadurasFiltradas; track $index){
        <app-armor-card class="armorCard" (addWantedEvent)="addPending($event)" (addAcquiredEvent)="addAcquired($event)" [logged]="logged" [armor]="armor"></app-armor-card>
      }
    </ul>
</div>