<app-search [options]="nombres()" (activeFilterEvent)="activeFilterSearch($event)"></app-search>

<app-filter (activeFilterEvent)="activeFilterType($event)" [arrayOptions]="['head','chest','gloves','waist','legs']" [arrayFilter]="filterType" ></app-filter>

<app-filter (activeFilterEvent)="activeFilterType($event)" [arrayFilter]="filterType" [arrayOptions]="['sword-and-shield','great-sword','dual-blades','long-sword','hammer','hunting-horn','lance','gunlance','switch-axe','charge-blade','insect-glaive','bow','light-bowgun','heavy-bowgun']"  ></app-filter>

<app-filter (activeFilterEvent)="activeFilterElement($event)" [arrayFilter]="filterElement" [arrayOptions]="['fire','blast','water','thunder','ice','dragon','paralysis','sleep','poison']"  ></app-filter>

<div *ngIf="loading; else loading2">
  <p>Loading...</p>
</div>

<ng-template #loading2>
  
  <div *ngIf="loadingWeapon || loadingArmor; else loading3">
    <label>Weapons:</label>
    <p *ngIf="!loadingWeapon">ready!</p>
    <p *ngIf="loadingWeapon">Loading...</p>
    <label>Armors:</label>
    <p *ngIf="!loadingArmor">ready!</p>
    <p *ngIf="loadingArmor">Loading...</p>
  </div>

  <ng-template #loading3>

    <div *ngIf="comprobation(); else acquiredList">
      <label>Weapons:</label>
      <p>{{adquiridosWeapon.length}}/{{acquiredNumber('weapon').length}}</p>
      <label>Armors:</label>
      <p>{{adquiridosArmor.length}}/{{acquiredNumber('armor').length}}</p>
    </div>

    <ng-template  #acquiredList>
    <div>
      @if (!adquiridosArmor.length && !adquiridosWeapon.length){
        <p>Acquired items list is empty.</p>
      }
    </div>

    
      <div id="acquiredList">
        
        <ul>
        @if (adquiridosArmorf.length){
        
            @for (armor of adquiridosArmorf; track $index){
              <app-acquired-list-card class="acquiredCard" (deleteAcquiredEvent)="remove($event)" [armor]="armor" [armorCheck]="true" [weaponCheck]="false"></app-acquired-list-card>
            }
          }
        </ul>
        <ul>
          @if (adquiridosWeaponf.length){
            @for (weapon of adquiridosWeaponf; track $index){
              <app-acquired-list-card class="acquiredCard" (deleteAcquiredEvent)="remove($event)" [weapon]="weapon" [armorCheck]="false" [weaponCheck]="true"></app-acquired-list-card>
            }

          }
        </ul>
      </div>
    </ng-template>
  </ng-template>
</ng-template>
