<div style="display: flex; justify-content: center;">
  <h1>Welcome to Monster Hunter Handler</h1>
</div>
<div style="display: flex; justify-content: center;">
  <img style="width: 100%;height: auto; max-width: 30%; -webkit-filter: drop-shadow(10px 10px 10px #222);
  filter: drop-shadow(10px 10px 10px #222);" src="rath.png" alt="icon"/>
</div>
<div style="border: 0.3rem black; border-style: dotted; margin-top: 1rem; background-color: rgba(113, 113, 113, 0.95); padding: 1.5rem;">
  <h3>About the page: </h3>
  <p style="margin-left: 2rem;">This page relates to the videogame <a href="https://store.steampowered.com/app/582010/Monster_Hunter_World/">Monster Hunter: World</a> as a personal assistant
    that maintains a clear and easy-to-access record of the user's acquired and pending equipment,
    and shows information about the game from the API <a href="https://mhw-db.com">"https://mhw-db.com"</a>.</p>
</div>
<div>
  <h4>Devs: </h4>
  <p style="margin-left: 2rem;"><a href="https://github.com/LeonelBoccanfuso">Leonel Boccanfuso</a></p>
  <p style="margin-left: 2rem;"><a href="https://github.com/SirChurrask">Luciano Serio</a></p>
</div>
<div>
  <h4>Special Thanks: </h4>
  <p style="margin-left: 2rem;">Marcos</p>
</div>
