.divFiltro{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

.divFiltro > button{
    background-color: rgb(50 50 50);

    min-height: 3rem;
    border-radius: 1rem;
    color: white;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.divFiltro > button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

@media only screen and (max-width:850px) {
    .divFiltro > button{
        background-color: rgb(50 50 50);
    }
    .divFiltro{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    }
    
  }


  @media only screen and (max-width: 600px) {

  }