#avatarButton{
    max-width: 3rem;
    border: solid black 0.05rem;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    margin-right: 0.3rem;
}

#avatarButton:hover{
    transform: scale(1.1);
    cursor: pointer;
}