<div style="display: flex;justify-content: center;height: 100%;">
    <div id="loginDiv">
        <h2 id="loginTitle">Register form</h2><br />

        <form style="width: 100%;" #registerForm *ngIf="!userRegistered; else user_registered" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div id="loginform">
                <div
                    style="display: flex;flex-direction: column;justify-content: start;align-items: start;width: 100%;max-width: 15rem;">
                    <label for="username">Username</label>
                    <input class="inputLogin" type="text" id="username" formControlName="username" required />
                    <div class="alert"
                        *ngIf="form.get('username')?.invalid && (form.get('username')?.touched || submitted); else else1">
                        <small *ngIf="form.get('username')?.errors?.['required']">Username required</small>
                        <small *ngIf="form.get('username')?.errors?.['minlength']">Username minlength 5</small>
                    </div>
                    <ng-template #else1>
                        <br />
                    </ng-template>
                </div><br />

                <div
                    style="display: flex;flex-direction: column;justify-content: start;align-items: start;width: 100%;max-width: 15rem;">
                    <label for="password">Password</label>
                    <input class="inputLogin" type="password" id="password" formControlName="password" required />
                    <div class="alert"
                        *ngIf="form.get('password')?.invalid && (form.get('password')?.touched || submitted); else else2">
                        <small *ngIf="form.get('password')?.errors?.['required']">Password required</small>
                        <small *ngIf="form.get('password')?.errors?.['minlength']">Password minlength 5</small>
                    </div>
                    <ng-template #else2>
                        <br />
                    </ng-template>
                </div><br />


                <button id="registerbutton" type="submit">Create user</button>
                <div class="alert" *ngIf="userNotAvailable && submitted">{{ notAvailableTextContent }}</div>
            </div>
        </form>

        <ng-template class="ng-template" #user_registered>
            <div class="ng-template">User has been registered</div>
            <div class="ng-template">You can log in now.</div>
        </ng-template>
    </div>
</div>