<div *ngIf="loading;else armorSetDetails" class="loader">
  <app-loading></app-loading>
</div>

<ng-template #armorSetDetails>
  <div style="background-color: rgb(76, 76, 76, 0.7 ); padding: 1rem; border-radius: 1rem;">
    @if (armorSet){
      <h1 style="padding-left: 2rem;">{{armorSet.name}}</h1>
      <h4 style="display: flex; justify-content: right; padding-right: 4rem;">Rank: {{armorSet.rank}}</h4>

      <div style="--y: calc(100% - 2rem);
                  background: radial-gradient(circle at 30% var(--y), rgb(50 50 50), rgb(0 0 0));
                  padding: 1rem; padding-bottom: 2rem; 
                  margin-bottom: 1rem;">
            <div style="display: flex; flex-direction: column; justify-content: space-around;">
              <h4>Armor set stats:</h4>
              <div>
                <p style="margin-left: 5rem;">Total base defense: {{getDefense()}}</p>
                <p style="margin-left: 5rem;">Total maxed defense: {{getDefenseMax()}}</p>
              </div>
              
              <div class="boxResistances" style="margin-left: 5rem;display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr)); justify-content: start;">
                <p style="margin-right: 5rem;">Total resistances:</p>
                <div style="display: flex;flex-direction: row;align-items: center;margin-left: 1rem;" *ngFor="let item of getResistence() | keyvalue">
                  <img style="width: 24px;height: 24px;" src={{getString(item.key)}} />
                  <p style=" margin: 0;margin-right: 0.5rem;">{{item.value}}</p>
                </div>
              </div>
            </div>
      </div>

      @if(armorSet.bonus){
        <div style="border: 0.3rem black;
        border-style: dotted;
        margin-bottom: 1rem;
        background-color:rgb(95, 95, 95, 0.9);
        padding: 2rem;">
          <h2>Bonus: {{armorSet.bonus.name}}</h2>

          @for (rank of armorSet.bonus.ranks; track $index){
            <p>{{rank.description}}</p>
            <p style="padding-left: 3rem;"> - Pieces of the armor set needed for the bonus above: {{rank.pieces}}</p>
          }
        </div>
      }@else{
        <div style="border: 0.3rem black;
        border-style: dotted;
        margin-bottom: 1rem;
        background-color:rgb(95, 95, 95, 0.9);
        padding: 2rem;">
          <h2> This set has no bonuses </h2>
        </div>
      }

      <ul>
      @for (piece of armorSet.pieces; track $index){
        <app-armor-card class="cardItem" [showDetails]="false" (addWantedEvent)="addPending($event)" (addAcquiredEvent)="addAcquired($event)" [logged]="logged" [armor]="piece" ></app-armor-card>
      
      }
    </ul>
      


    }
  </div>
</ng-template>
