  

  <app-filter (activeFilterEvent)="activeFilterType($event)" [arrayOptions]="['large','small']" [arrayFilter]="filterType" ></app-filter>

  <div class="foundSearch">
    <app-found [items]="AllBois.length"></app-found>
    <app-search [placeH]="'Search monsters'" (activeFilterEvent)="activeFilterSearch($event)" [options]="nombres()"></app-search>
  </div>

  <div *ngIf="loading; else monsterList" class="loader">
    <app-loading></app-loading>
  </div>

  <ng-template #monsterList>
    
    
    <ul>
      @for (monster of AllBois; track $index) {
        <app-monster-card class="cardItem" [monster]="monster"></app-monster-card>
      }
    </ul>
  </ng-template>

