.alert{
    color: red;
}

h2{
    text-align: center;
}

form, .ng-template{
    text-align: center;
    border-top: 0cap;
    border-bottom: 0cap;
}


#registerbutton{
  min-width: 5%;
  min-height: 2rem;
  background-color: gray;
  border-radius: 0.3rem;
  color: white;

}

#registerbutton:hover{
  transform: scale(1.1);
  cursor: pointer;
}
