/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
    margin: 0%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    font-size: larger;
    background-repeat: repeat;

    background-image: url('../media/background/pattern-bc.png');
    background-size: 10%;
    
}

a { 
    color:blue;
    text-decoration: none;
}
/* a:visited { text-decoration: none; color:red; } */
a:hover { text-decoration:underline; color:blue; }
/* a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black } */

html{
    margin: 0%;
}

.pageBC{
    width: auto;
    background-color: rgba(128, 121, 121, 0.8);
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 3rem;
    padding-top: 1rem;
    text-shadow: 2px 0 white, -2px 0 white, 0 2px white, 0 -2px white,
    1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-tooltip__surface {
    letter-spacing: -0.5px!important;
    border: 1px solid #333!important;
    font-size: 20px!important;
    padding: 15px!important;
  }