/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
    margin: 0%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    font-size: larger;
    background-repeat: repeat;

    /* background-image: url('../media/background/pattern-bc2.webp');
    background-size: 40%; */

     background-image: url('../media/background/pattern-bc.png');
    background-size: 10%;
    
}

html{
    margin: 0%;
}

.pageBC{
    width: auto;
    background-color: rgba(128, 121, 121, 0.8);
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 3rem;
    padding-top: 1rem;
    text-shadow: 2px 0 white, -2px 0 white, 0 2px white, 0 -2px white,
    1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
