<app-search [options]="nombres()" (activeFilterEvent)="activeFilterSearch($event)"></app-search>

<app-filter (activeFilterEvent)="activeFilterType($event)" [arrayOptions]="['head','chest','gloves','waist','legs']" [arrayFilter]="filterType" ></app-filter>

<app-filter (activeFilterEvent)="activeFilterType($event)" [arrayFilter]="filterType" [arrayOptions]="['sword-and-shield','great-sword','dual-blades','long-sword','hammer','hunting-horn','lance','gunlance','switch-axe','charge-blade','insect-glaive','bow','light-bowgun','heavy-bowgun']"  ></app-filter>

<app-filter (activeFilterEvent)="activeFilterElement($event)" [arrayFilter]="filterElement" [arrayOptions]="['fire','blast','water','thunder','ice','dragon','paralysis','sleep','poison']"  ></app-filter>

<div *ngIf="loading; else loading2">
  <p>Loading...</p>
</div>

<ng-template #loading2>

  <div *ngIf="loadingWeapon || loadingArmor; else loading3">
    <label>Weapons:</label>
    <p *ngIf="!loadingWeapon">ready!</p>
    <p *ngIf="loadingWeapon">Loading...</p>
    <label>Armors:</label>
    <p *ngIf="!loadingArmor">ready!</p>
    <p *ngIf="loadingArmor">Loading...</p>
  </div>

  <ng-template #loading3>

    <div *ngIf="comprobation(); else acquiredList">
      <label>Weapons:</label>
      <p>{{pendientesWeapon.length}}/{{acquiredNumber('weapon').length}}</p>
      <label>Armors:</label>
      <p>{{pendientesArmor.length}}/{{acquiredNumber('armor').length}}</p>
    </div>

    <ng-template  #acquiredList>

<div id="wishlistList">
  <div>
    @if (!pendientesArmor.length && !pendientesWeapon.length){
      <p>Wishlist empty:D</p>
    }
  </div>
  <div>
    @if (pendientesArmorf.length){
      <h3>Armor</h3>
      <ul>
        @for (armor of pendientesArmorf; track $index){
          <app-wishlist-card (addToAcquired)="addToAcquired($event)"  (updateMaterial)="updateMaterial($event)" class="cardItem" [userPending]="userPending[findIndexItem(armor.id,'armor')]"  (deleteWantedEvent)="deletePending($event)" [armor]="armor" [armorCheck]="true" [weaponCheck]="false" [materialesNecesarios]="getMaterialesItem(armor.id,'armor')"></app-wishlist-card>
        }
    </ul>
    }
  </div>
  <div>
    @if (pendientesWeaponf.length){
      <h3>Weapon</h3>
      <ul>
        @for (weapon of pendientesWeaponf; track $index){
          <app-wishlist-card (addToAcquired)="addToAcquired($event)" (updateMaterial)="updateMaterial($event)"  class="cardItem" [userPending]="userPending[findIndexItem(weapon.id,'weapon')]" (deleteWantedEvent)="deletePending($event)" [weapon]="weapon" [armorCheck]="false" [weaponCheck]="true" [materialesNecesarios]="getMaterialesItem(weapon.id,'weapon')"></app-wishlist-card>
        }
      </ul>
    }
  </div>
</div>
</ng-template>
</ng-template>
</ng-template>
